body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.quiz-container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.result-container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.question-container {
  margin-top: 20px;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choice {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.choice:hover {
  background-color: #d0d0d0;
}

.choice.selected {
  background-color: #c0c0c0;
}

.submit-btn {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: teal;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: #0055cc;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #CCFFFF;
  color: #009999;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.start-btn:hover {
  background-color: #0055cc;
}

.hide {
  display: none;
}

